body {
    background: linear-gradient(to right, rgb(193, 193, 20), rgb(151, 151, 218), rgb(193, 193, 20));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.name {
    color: azure;
    margin-top: 20px;
}

.image {
    height: 500px;
    padding: 20px;
}

.cont-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-2 {
    color: white;
}

ul {
    list-style-position: inside;
    list-style-type: georgian;
}

li {
    color: blueviolet;
}

nav {
    background-color: rgb(231, 208, 59);
    color: aqua;
    padding: 20px;
}

.logo {
    text-align: center;
}

.but {
    margin-left: 40px;
    margin-right: 40px;
    font-size: large;
    text-decoration: none;
}